* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
body {
  background-color: #414141;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#watch-container {
  background-color: #f0f9ff;
  width: 35vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 32px;
  border: 4px solid #212121;
}
#timer {
  width: 110%;
  border: 3px solid #313131;
  background-color: #3c98ff;
  padding: 20px;
  letter-spacing: 5px;
  word-spacing: 5px;
  margin-top: 50px;
  color: #f0f9ff;
  font-size: 2rem;
  border-radius: 16px;
}
#buttons {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 50px auto;
}
#buttons button {
  font-size: 1.2rem;
  background-color: #dbe9ff;
  color: #3c98ff;
  border: none;
  border-radius: 16px;
  padding: 20px 30px;
  cursor: pointer;
  outline: none;
  letter-spacing: 1px;
  font-weight: 700;
}
#buttons #start-timer {
  background-color: #3c98ff;
  color: #313131;
}
#buttons button:hover {
  background-color: #3c98ff;
  color: #212121;
  transition: 0.4s ease-in;
}
@media only screen and (max-width: 410px) {
  #watch-container {
    width: 75vw;
    border: 2px solid #212121;
  }
  #timer {
    width: 116%;
    padding: 10px;
    font-size: 1.4rem;
    letter-spacing: 2px;
    word-spacing: 2px;
    margin-top: 40px;
    border-radius: 12px;
  }
  #buttons {
    margin: 40px auto;
    justify-content: space-between;
  }
  #buttons button {
    font-size: 0.8rem;
    border-radius: 10px;
    padding: 12px;
    letter-spacing: 1px;
    font-weight: 600;
  }
}
